html {
  box-sizing: border-box;

  background-color: #dbd6cf;
  line-height: 15;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  width: 95%;
  list-style-type: none;
  text-align: center;
  background-color: #79756f;
  border-color: #595652;
  border-width: medium;
  border-style: solid;
  font-size: .8rem;
  font-family: sans-serif;
}

.nav {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #79756f;
}

h1 {
  color: #fff;
  font-family: bevan sans-serif;
}

.nav li {
  display: inline-block;
  margin: .3em;
  max-width: .20em;
  padding: .6em .5em .75em;
  background-color: #713837;
  text-align: center;
  border-radius: .3em;
  font-family: bevan, san-serif;
  color: #fff;
  list-style-type: disc;
}

.nav a:hover {
  background-color: #f33;
}
